.footer {
  width: 100%;
  background: #0c0c0c;
  border-top: #191919 2px solid;
  padding: 8rem 0;
  position: relative;
  bottom: -200rem;
  left: 0;
  text-align: center;
  z-index: 1;
}

.footer-text {
  color: #888;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.05em;
}