.header {
    width: 100vw;
    background: #ffffff;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: #888 0.125rem solid;
    display: flex;
    align-items: center;
    z-index: 20;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-logo-link {
  display: flex;
  align-items: center;
}

.header-logo {
    position: absolute;
    right: 3rem;
    align-items: center;
    width: 50%;
}



.header-pages{
    position: absolute;
    right: 0;
}

.page{
  color: #000;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: 
    opacity 0.3s,
    color 0.3s,
    font-size 0.3s;
}

.page:hover {
  color:var(--color-orange);
  font-size: 1.7rem;
}

.title{
    color: #000;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: left;
    margin-left: 1rem;
    line-height: 1.1;
}

.subtitle{
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: left;
    margin-left: 1rem;
    line-height: 1.1;
}