.header {
    width: 100vw;
    background: #ffffff;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: #888 0.125rem solid;
    display: flex;
    align-items: center;
    z-index: 20;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-logo-link {
  display: flex;
  align-items: center;
}

.header-logo {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    z-index: 10;
}



.header-logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.header-pages{
    position: absolute;
    right: 0;
}

.page{
  color: #000;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: 
    opacity 0.3s,
    color 0.3s,
    font-size 0.3s;
}

.page:hover {
  color:var(--color-orange);
  font-size: 1.7rem;
}

.title{
    color: #000;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: left;
    margin-left: 1rem;
    line-height: 1.1;
}

.subtitle{
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: left;
    margin-left: 1rem;
    line-height: 1.1;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 21;
  position: absolute;
  right: 20px;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
}

@media screen and (max-width: 968px) {
  .header {
    padding: 0.5rem;
  }

  .header-logo {
    width: 7vw;
    max-width: 10vw;
    height: auto;
  }

  .title {
    font-size: 1.6rem;
    margin-left: 0.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  .page {
    font-size: 1.2rem;
    padding-right: 1rem;
  }

  .page:hover {
    font-size: 1.3rem;
  }

  .header-nav {
    gap: 1rem;
  }

  .hamburger-menu {
    position:fixed;
    display: flex;
  }

  .header-pages {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 20px;
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .header-pages.open {
    right: 0;
  }

  .hamburger-menu .hamburger-line.open:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger-menu .hamburger-line.open:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu .hamburger-line.open:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .page {
    margin: 15px 0;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0.3rem;
  }

  .header-logo {
    width: 9vw;
  }

  .title {
    font-size: 1.2rem;
    margin-left: 0.3rem;
  }

  .subtitle {
    font-size: 1rem;
    margin-left: 0.3rem;
  }

  .page {
    font-size: 1rem;
    padding-right: 0.7rem;
  }

  .page:hover {
    font-size: 1.1rem;
  }

  .header-nav {
    gap: 0.5rem;
  }

  .header-pages {
    width: 200px;
  }

  .page {
    font-size: 1.2rem;
  }
}